<a class="navbar-brand" href="{{or siteRootPath (or site.url siteRootPath)}}">{{site.title}}</a>
<div class="navbar-item">
  <a class="button" href="https://github.com/redhat-appstudio/tsf-cli/issues/new?title=%5BDOCS%5D+&labels=documentation">Raise an issue</a>
</div>
